/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/lato-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../fonts/lato-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"),
    url("../fonts/lato-v15-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v15-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header styles start */

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 15px;
}

.section-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s linear;
  padding-bottom: 10px;
  z-index: 999;
}

.header_active {
  background: #0e1d28;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 56px;
  transition: 0.4s linear;
}

.header__wrapper_active {
  margin-top: 10px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: blanchedalmond;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}
/* Header styles end */

/* Intro styles start */

.intro {
  min-height: 100vh;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro__title {
  max-width: 619px;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: blanchedalmond;
  margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 546px;
  color: blanchedalmond;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background-color: transparent;
  background: url(../img/svg/circle-ico.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.search-form__field::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.search-form__submit {
  background: #1b7dff;
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: white;
  border: 0;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #0e4792;
}
/* Intro styles end */

/* Benefits styles start */

.benefits {
  padding-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  background: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title {
  width: 100%;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  background: url(../img/svg/arrow.svg) no-repeat 95% center;
  background-color: transparent;
  text-decoration: none;
  color: #006dfe;
  transition: 0.2s;
}

.benefits__card-more:hover,
.benefits__card-more:focus {
  background: url(../img/svg/arrow.svg) no-repeat right center;
}
/* Benefits styles end */

/* Places styles start */

.places {
  margin-bottom: 131px;
}
.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 15px;
}

.places__view-all {
  font-size: 16px;
  text-decoration: none;
  color: #006dfe;
  padding-right: 59px;
  background: url(../img/svg/arrow.svg) no-repeat right center;
}

.places__view-all:hover,
.places__view-all:focus {
  opacity: 0.65;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.places__card:hover .places__card-pic {
  transform: scale(1.05);
}

.places__card-title {
  z-index: 3;
  font-size: 50px;
  line-height: 60px;
  position: absolute;
  bottom: 27px;
  left: 29px;
  color: white;
}

.places__card_size_lg {
  grid-column: span 3;
}

.places__card_size_sm {
  grid-column: span 2;
}

.places__card-pic {
  width: 100%;
  transition: 0.15s all;
}

.places__card-pic_size_lg {
  height: 354px;
  object-fit: cover;
}

.places__card-pic_size_sm {
  height: 283px;
  object-fit: cover;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* Places styles end */

/* Toures styles start */

.tours {
  margin-bottom: 139px;
}

.toures__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour__desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__more {
  display: inline-block;
  padding-right: 59px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  background: url(../img/svg/arrow.svg) no-repeat 95% center;
  transition: 0.2s;
}

.tour__more:hover,
.tour__more:focus {
  background: url(../img/svg/arrow.svg) no-repeat right center;
}

/* Toures styles end */

/* Top styles start */

.top {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 57px;
  grid-row-gap: 57px;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card {
  display: flex;
  flex-direction: column;
  grid-column-start: span 2;
}

.top__card-stats {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
}

.top__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 25px;
}

.top__card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 auto 0 0;
}

.top__card-likes {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 20px;
  background: url(../img/svg/heart-ico.svg) no-repeat right;
  margin-right: 14px;
}

.top__card-comments {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 23px;
  background: url(../img/svg/comment-ico.svg) no-repeat right;
}

.top__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top__card-more {
  width: 118px;
  padding: 12px 19px;
  background: #006dfe;
  text-decoration: none;
  font-size: 16px;
  color: white;
  margin: auto 0 0 0;
}

.top__card-more:hover,
.top__card-more:active,
.top__card-more:focus {
  background: #0e4792;
}
/* Top styles end */

/* Videos styles start */
.videos {
  width: 100%;
}

.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Videos styles end */

/* Footer styles start */
.footer {
  background: #0e1d28;
  padding: 119px 0;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__menu-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer__menu-link {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: white;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
  opacity: 0.75;
}

/* Footer styles end */

/* Media start */

@media screen and (max-width: 960px) {
  .benefits {
    margin-bottom: 75px;
  }

  .benefits__card {
    margin-bottom: 60px;
  }

  .search-form__field {
    margin-bottom: 25px;
  }
  .benefits__cards {
    padding: 0 15px;
    grid-column-gap: 35px;
  }
  .benefits__title {
    padding: 55px 15px;
  }
  .benefits__wrap {
    box-shadow: none;
  }
  .places__card_size_lg {
    grid-column: span 6;
  }
  .places__card_size_sm {
    grid-column: span 6;
  }
  .places {
    margin-bottom: 75px;
  }
  .toures__tour {
    grid-column-gap: 35px;
    margin-bottom: 30px;
  }
  .tour__info {
    padding-left: 0;
  }
  .tour__title {
    margin-bottom: 15px;
  }
  .tour__desc {
    margin-bottom: 15px;
  }
  .top__cards {
    grid-column-gap: 25px;
    grid-row-gap: 55px;
  }
  .top__card {
    grid-column: span 3;
  }
  .top__card-pic {
    margin-bottom: 25px;
  }
  .footer {
    padding: 60px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 20px;
  }
  .section-title::after {
    width: 30%;
  }
  .header__burger {
    display: block;
  }
  .header__wrapper {
    padding-top: 28px;
    margin: 0;
  }
  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.4s linear;
  }

  .header__nav_active {
    transform: translateX(0);
  }
  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__item:last-child {
    margin-bottom: 0;
  }
  .header__link {
    font-size: 42px;
    line-height: 48px;
  }
  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header__nav-close-line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(315deg);
  }

  .intro {
    padding-top: 125px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 48px;
  }
  .intro__subtitle {
    font-size: 14px;
  }

  .search-form__field {
    margin-right: 0;
    width: 100%;
    padding-bottom: 12px;
    background: url(../img/svg/circle-ico.svg) no-repeat left top;
  }
  .search-form__field::placeholder{
    font-size: 16px;
  }
  .search-form__submit {
    width: 100%;
  }

  .benefits__wrap {
    margin-bottom: 76px;
  }
  .benefits__card {
    grid-column: span 3;
    margin-bottom: 40px;
  }
  .benefits__card-pic {
    margin-bottom: 20px;
  }
  .benefits__title {
    margin-bottom: 12px;
  }
  .benefits__card-desc {
    margin-bottom: 20px;
  }
  .places {
    margin-bottom: 76px;
  }
  .places__card-pic_size_lg, .places__card-pic_size_sm {
    height: 230px;
  }
  .places__view-all {
    margin-bottom: 25px;
  }
  .places__caption {
    margin-bottom: 0;
  }
  .toures {
    margin-bottom: 76px;
  }
  .tour__pic, .tour__info {
    grid-column: span 2;
  }
  .tour__pic {
    margin-bottom: 12px;
  }
  .tour__pic_mob-first {
    grid-row-start: -1;
  }
  .toures__tour {
    margin-bottom: 50px;
  }
  .top {
    margin-bottom: 76px;
  }
  .top__card {
    grid-column: span 6;
  }
  .top__card-stats {
    max-width: 386px;
  }
  .top__card-desc {
    margin-bottom: 15px;
  }

  .footer {
    padding: 40px 20px;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 24px;
  }
  .footer__nav {
    width: 100%;
  }
  .footer__menu {
    width: 50%;
    margin-bottom: 24px;
  }

  
}

@media screen and (max-width: 500px) {
  .header__nav {
    padding: 75px 30px;
  }
}

/* Media end */
